body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 20px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #0A084B; /* Web sayfasının arka plan rengi */
    color: 	#FF5900; /* Metin rengi */
}

h1 {
    color: 	#00FEFC; /* Başlık rengi */
    font-size: 50px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}